
.product-list {
    flex: 1;
    padding: 20px;
    background-color: #f4efef;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f16b26;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .category-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .category-button1 {
    /* border: 1px solid red; */
    border: none;
    background-color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .category-button1:hover {
    background-color: rgb(75, 177, 240);
    color: white;
}
  .category-button2 {
    border: none;
    background-color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
   
  }
  .category-button2:hover {
    background-color: rgb(75, 177, 240);
    color: white;
}

.category-button3 {
    border: none;
    background-color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
   
  }
  .category-button3:hover {
    background-color: rgb(75, 177, 240);
    color: white;
}

.category-button4 {
    border: none;
    background-color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
   
  }
  .category-button4:hover {
    background-color: rgb(75, 177, 240);
    color: white;
}

.category-button5 {
    border: none;
    background-color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
   
  }
  .category-button5:hover {
    background-color: rgb(75, 177, 240);
    color: white;
}
  .product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: white;

  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  .product-price{
    color: orangered;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }

  .addtoCart{
    position: relative;
    left: 10%;
    bottom: 12%;

  }